<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <script src="http://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
  </head>
  <body>
    <table id="id_list">
      <tr><th>名前</th><th>住所</th><th>生年月日</th></tr>
      <tr v-for="item in items"><td>{{item.namae}}</td><td>{{item.address}}</td><td>{{item.birthdate}}</td></tr>
    </table>
    <form id="id_form1">
      <label>名前：
        <input name="name_namae" id="id_namae" type="text" v-model="namae" />
      </label>
      <label>住所：
        <input name="name_address" id="id_address" type="text" v-model="address" />
      </label>
      <label>生年月日：
      <el-date-picker
        name="name_birthdate" 
        id="id_birthdate"
        v-model="birthdate"
        type="date"
        placeholder="日付を選択してください">
      </el-date-picker>
      </label>
      <button type="button" id="id_add_button" v-on:click="add">追加</button><br>
      <button type="button" id="id_save_button" v-on:click="save">保存</button>
    </form>
  </body>
    <script>
        ELEMENT.locale(ELEMENT.lang.ja)
        var list = new Vue({
            el: '#id_list',
            data: {
              items: []
            }
        })
        var form1 = new Vue({
            el: '#id_form1',
            data: {
            namae: '',
            address: '',
            birthdate: ''
            },
            methods: {
              add: function (event){
                list.items.push({'namae': this.namae, 'address':this.address, 'birthdate': this.birthdate})
                this.namae = ''
                this.address = ''
                this.birthdate = ''
              },
              save: function (event){
                console.log(list.items)
              }
            }
        })
    </script>
</html>
