<html lang="en">
	<head>

  <!-- Basic Page Needs -->
  
  <meta charset="utf-8">
  <title>Megaport UI</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="http://getskeleton.com/dist/css/normalize.css">
  <link rel="stylesheet" href="http://getskeleton.com/dist/css/skeleton.css">
  <link rel="stylesheet" href="static/css/custom.css">


<!-- Scripts -->
<!--
  <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
-->
	<script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!--
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
-->

	<!-- Scripts added -->
<!--
  <script src="static/js/site.js"></script>
-->
  <script src="static/js/megaport.js/megaport.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="dist/images/favicon.png">

	<script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.df1da1fef194d8f8f3fd803a219a8177.js"></script>
</head>

<body class="code-snippets-visible">

  <!-- Primary Page Layout -->
  <div class="container">
    <section class="header">
      <h2 class="title">A dead simple, responsive Megaport UI.</h2>
			<img class="value-img" src="static/img/sd-ex-320.png" alt="logo">
<!--
      <div class="value-props row">
        <div class="four columns value-prop">
          <img class="value-img" src="">
          Light as a feather at ~400 lines &amp; built with mobile in mind.
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="">
          Styles designed to be a starting point, not a UI framework.
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="">
          Quick to start with zero compiling or installing necessary.
        </div>
      </div>
-->
    </section>

<div id="location">

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#locations" v-on:click="ll()">Locations</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#examples">Examples</a></li>
        </ul>
      </div>
    </nav>

<!--
  <button v-on:click="counter">+1</button>
  <p>The button above has been clicked {{ count }} times.</p>
-->

  <ol>
    <li v-for="l in loc">
      {{ l.country }}
    </li>
  </ol>

<!--
<table class="u-full-width value-props">
	<caption><h3 class="docs-header">{{ }}</h3></caption>
  <thead>
    <tr>
      <th v-for="k in loc">{{ k }}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="hash in loc">
			<td v-for="item in hash">{{ item }}</td>
    </tr>
  </tbody>
</table>
-->

</div> <!-- <div id="location"> -->


	</div>

	<script src="app.js"></script>

</body>
</html>
