/* Colo */
/***********************************
*            overrides             *
***********************************/
body {
  width: 100%;
}

h2 {
  float: left;
}

.header_ul {
  float: right;
  padding: 10px;
}

a {
  color: #3F739A
}

a:hover {
  color: #008dd0;
}

/**********************
*        Tables       *
**********************/
th {
  background-color: #3F739A;
  color: #fff;
  text-align: left;
}

table tr:last-child td {
  border-bottom: none;
}

.group_header td {
  border-bottom: none;
}

td.header {
  background-color: #3F739A;
  color: white;
  width: 1%;
  white-space: nowrap;
}

.header {
  background-color: #3F739A;
  color: white;
  width: 100%;
  white-space: nowrap;
}

/**********************
*    Page Specific    *
**********************/
.nboss-block {
  background-color: white;
  padding: 0;
  /* padding:5px; */
}
#list-colo-access-cards\.links .nboss-block,
#list-colo-product-orders\.links .nboss-block,
#list-colo-permission-groups\.links .nboss-block,
#list-colo-access-list\.links .nboss-block,
#list-colo-facility-list\.links .nboss-block,
#list-colo-carriage-list\.links .nboss-block,
#list-colo-delivery-list\.links .nboss-block,
#list-colo-data-centers\.links .nboss-block,
#list-colo\.links .nboss-block,
#list-colo-cabs\.links .nboss-block,
#list-search-colo\.links .nboss-block {
  background: none;
}
/************************
*  Generic CSS Styling  *
************************/
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.hidden {
  display: none;
}
.half-width {
  width: 49%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.mouse-button {
  cursor: pointer;
}
.mouse-drag {
  cursor: move;
}
.greyOut {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* msie */
  cursor: default !important;
  color: #CDCDCD !important;
}
.small-padding{
  padding:10px;
}
/*******************
*     Actions      *
*******************/
#actions-menu {
  margin: 0 auto;
}
.data-center-button-container {
  width: auto;
  margin: 10px;
}
#data-center-button {
  margin: 5px;
  cursor: pointer;
}
#data-center-name {
  text-align: center;
  font-size: 13px;
}
#actions-display-one-dc #data-centers-display {
  margin: 5px 0;
}
#actions-display-one-dc #actions-menu-display {
  margin: 10px 0;
  padding: 10px 0;
  border: 1px dashed #CDCDCD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #008DD0;
}
.request-button {
  width: 100px;
  cursor: pointer;
  float: left;
  /*margin:10px;*/
  text-align: center;
}
.request-enable:hover {
  color: lightblue;
}
.request-button-img {
  margin: 0 auto;
  width: 40px;
  height: 45px;
}
#access-request-button {
  background: url('../images/colo/access.png') no-repeat;
}
#carry-in-out-button {
  background: url('../images/colo/carry.png') no-repeat;
}
#shared-facility-button {
  background: url('../images/colo/facility.png') no-repeat;
}
#delivery-request-button {
  background: url('../images/colo/delivery.png') no-repeat;
}
#hands-request-button {
  background: url('../images/colo/tools.png') no-repeat;
}
/********************
*        Nav        *
********************/
#nav-menu-display {
  /*margin:10px 10px 10px 0;
  padding: 10px 0;*/
  /*padding: 5px 0;*/
  /*border: 1px dashed #CDCDCD;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
  color: #008DD0;
  width: 100%;
}
#nav-menu-display > :hover {
  /*border: 1px dashed #CDCDCD;*/
  background: #FDFDCC;
  color: black;
  /*padding: 4px -1px;*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.nav-button {
  width: 120px;
  cursor: pointer;
  margin: 0 15px;
  text-align: center;
  float: left;
}
.nav-button span {
  position: relative;
  top: 12px;
  margin: 0 0 0 5px;
  float: left;
}
.nav-button-img {
  margin: 0 auto;
  width: 40px;
  height: 45px;
  float: left;
}
#nav-home-button {
  background: url('../images/colo/home.png') no-repeat;
}
#nav-requests-button {
  background: url('../images/colo/calendar.png') no-repeat;
}
#nav-users-button {
  background: url('../images/colo/users.png') no-repeat;
}
#nav-cabs-button {
  background: url('../images/colo/datacenters.png') no-repeat;
}
#nav-cards-button {
  background: url('../images/colo/cards.png') no-repeat;
}
#nav-search-button {
  background: url('../images/colo/search.png') no-repeat;
}
#nav-monitoring-button {
  background: url('../images/colo/search.png') no-repeat;
}
#nav-induction-requests-button {
  background: url('../images/colo/search.png') no-repeat;
}
/********************
*      Calendar     *
********************/
#calendar-display {
  width: 100%;
  /*height: 200px;*/
  /*float:left;*/
  border: 1px solid #CAD1D5;
}
#calendar-filter {
  float: right;
  width: 15%;
  padding: 5px;
  border: 1px solid #CAD1D5;
  background-color: #DBE0E4;
  color: #585858;
  height: 290px;
}
#calendar-filter h3 {
  margin-bottom: 5px;
}
#calendar-filter-options {
  background-color: white;
  padding: 5px;
  border: 1px solid #CAD1D5;
}
#calendar-filter-options li {
  margin-top: 5px;
}
#calendar-options {
  width: 100%;
}
.prev-next-selector {
  float: right;
  color: #585858;
  margin: 6px;
}
.day-selector {
  border: 1px solid black;
  margin: 5px 5px 0 5px;
  width: 10px;
  height: 15px;
  text-align: center;
  float: left;
  color: #585858;
}
#day-selector-title {
  margin: 6px 5px 0 5px;
  float: left;
  color: #585858;
  margin: 5px 5px 0 5px;
}

/*******************
*      Wizard      *
*******************/
.wizard-box {
  border: 1px solid black;
  width: 500px;
  height: 250px;
  display: none;
}
.wizard-screen {
  display: none;
}
.wizard-close-handle {
  float: right;
}
/**********************
*    Access Request   *
**********************/
#access-request-create,
#delivery-request-create {
  margin: 10px;
  border: 1px dashed #CDCDCD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: black;
  /*width: 55%;
  float:left;
  position:relative;*/
}
#datacenter-name {
  font-size: 13px;
  margin-top: 10px;
}
.data-entry {
  margin: 10px auto;
  font-size: 13px;
}
.data-entry-padded-heading {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.data-entry th {
  background-color: #FFF;
}
.data-entered {
  margin: 5px 5px 5px 30px;
  font-size: 13px;
  color: #6e6e6e;
}
.instruction {
  color: green;
}
.input-data {
  margin: 10px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: black;
  padding: 10px;
  background-color: #fff;
}
.input-data span {
  font-size: 15px;
  color: grey;
  margin: 0 0 0 10px;
}
.input-data th {
  background-color: #fff;
}
.data-entry-line {
  margin: 10px;
}
.entry-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.edit-icon {
  width: 15px;
  height: 15px;
  position: relative;
  top: 10px;
  left: 0px;
  cursor: pointer;
  margin-right: 5px;
}
#booking-time-request-continue {
  margin: 0px 10px 10px 0;
  cursor: pointer;
  padding: 5px;
}
#access-request-details-continue,
#delivery-request-submit,
#returns-request-submit {
  margin: 10px 10px 10px 0;
  cursor: pointer;
  padding: 5px;
}
#access-request-entry,
#delivery-request-entry {
  position: relative;
}
.data-entry-tab {
  /*position:relative;
  left:200px;*/
}
.data-entry-table {
  margin: 10px 0;
  width: 100%;
}
.data-entry-table-container {
  border: 1px dashed #CDCDCD;
  padding: 5px;
}
tr.clickable {
    cursor: pointer;
}
tr.clickable:hover {
    background: rgb(163, 163, 163);
}
.information-reporting-data {
  margin-left: 20px;
  font-size: 11px;
  color: grey;
  text-align: center;
}


/*******************
*       Cabs       *
*******************/
.room-block {
  border: 1px solid #CDCDCD;
  margin: 5px 0 5px 5px;
 /* padding: 5px;*/
  width: auto;
  float: left;
}
.room-block h3 {
  font-size: 13px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.cabs-block li span {
  text-align: center;
}
.cabs-block li {
  padding: 5px;
}

/* --------------------------- Cab Port usage ------------------------------- */

td[class*='port_status_closed'] { background-color: red; }
td[class*='port_status_used'] { background-color: yellow; }
td[class*='port_status_free'] { background-color: lightgreen; }
td[class*='port_status_reserved'] { background-color: lightblue; }

/***********************
*  Permission Groups   *
***********************/
.permission-actions {
  width:32%;
}
.permission-cabs {
  width:22%;
}
.permission-contacts {
  position: relative;
  width: 42%;
}
.permission-actions td,
.permission-cabs ul li,
.permission-contacts td {
  word-break: break-all;
}
.permission-contacts span {
  /*position: relative;
  left:40px;*/
}
.user-block {
  margin: 5px auto;
}
/***********************
*      DataTables      *
***********************/
/* FIXME Duplicated rules - need refactor */
#contacts-data-tables table,
#packages-data-tables table {
  text-align: right;
  width: 100%;
}
#cabs-data-tables table,
#request-data-tables table {
  text-align: right;
  width: 100%;
}
#details-data-tables table,
#facility-data-tables table {
  text-align: right;
  width: 100%;
}

.dataTables_length {
  padding-left: 5px;
  padding-bottom: 1px;
}

.section_sub_header {
padding: 5px;
font-size: 20px;
overflow: auto;
padding-top: 20px;
font-family: OpenSansLight;
color: #305768;
}

.section_name {
  padding-left: 5px;
  padding-top: 10px;
}
.graphscontainer {
  width : 1090px;
  float: left;
}
/**********************
*       Columns       *
**********************/
.input-columns {
  width: auto;
  position: relative;
}
/* FIXME Duplicated rules - need refactor */
.input-col0 {
  width: 32%;
  margin: 0 5px;
  float: left;
  /*position: absolute;
    left:0;
    top:0;*/
  max-height: 260px;
  overflow-y: auto;
}
.input-col1 {
  width: 32%;
  margin: 0 5px;
  float: left;
  /*position: absolute;
  top:0;*/
  max-height: 260px;
  overflow-y: auto;
}
.input-col2 {
  width: 32%;
  margin: 0 5px;
  float: left;
  /*position: absolute;
  right:0;
  top:0;*/
  max-height: 260px;
  overflow-y: auto;
}
.input-col3 {
  width: 65%;
  margin: 0 5px;
  float: left;
  /*position: absolute;
  right:0;
  top:0;*/
  max-height: 260px;
  overflow-y: auto;
}
#datacenter-entry {
  float: left;
  margin-right: 40px;
}
/* FIXME already have float-left class - need refactor */
#access-request-entry,
#delivery-request-entry {
  float: left;
}
#dividing-line {
  background: lightgrey;
  height: 2px;
  width: auto;
  margin: 0 10px;
}
#actions-menu-display {
  margin: 10px;
}
#data-centers-multi-display {
  /* margin:10px; */
  margin: 0 auto;
}
.data-center-multi {
  margin: 10px;
  float: left;
  width: 100px;
  text-align: center;
}
#actions-display-multi-dc {
  position: relative;
}
.data-entry-dividing-line {
  background: #72858F;
  height: 4px;
  width: auto;
  margin: 10px 0;
}
#datacenter-name span {
  font-size: 15px;
  margin: 5px;
  color: grey;
}
#access-request-dynamic-data span,
#delivery-request-dynamic-data span,
#returns-request-dynamic-data span {
  font-size: 15px;
  margin: 5px;
  color: grey;
}
#add-user-button {
  margin: 0 5px 0 0;
  cursor: pointer;
}
#data-entry-one-time-table {
  margin: 10px 0;
}
#data-entry-one-time-table table,
#status-data-tables table {
  text-align: right;
  width: 100%;
}
.full-width-table table {
  text-align: right;
  width: 100%;
}
#access-request-description {
  width: 99%;
}
.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/stripe.png');
  opacity: .50;
  -moz-opacity: 0.50;
  filter: alpha(opacity=50);
  z-index: 100;
}
.loading-overlay:after {
  content: url('../images/colo/big-wheel.gif');
  position: relative;
  left: 48%;
  top: 40%;
}
.error-reporting-data,
.error-msg {
  text-align: center;
  width: 100%;
  color: red;
  font-size: 15px;
  line-height: 25px;
}
.error-msg {
  margin-bottom: 10px;
}
#clear-add-user-button {
  margin: 0 10px 0 0;
  cursor: pointer;
}
.facility-error {
  color: red !important;
}
/********************
*       Forms       *
********************/
.form-input {
  width: 96%;
}
form {
  padding-left: 5px;
}
input[type="submit"], input[type="button"] {
  margin: 5px;
}
input[type="radio"] {
  margin-left: 10px;
}
input[type="checkbox"] {
  margin-right: 10px;
}
table.wc-time-slots {
  overflow-x: hidden;
}
.box-border {
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.box-title {
  background-color: white;
  font-size: 15px;
  position: relative;
  top: -18px;
  width: 120px;
  padding: 5px;
  display: inline;
  border: 1px solid #3F739A;
}
.box-heading {
  font-size: 12px;
  margin: 5px;
}
.box-inner-border {
  border: 1px dashed #CDCDCD;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.box-controls {
  float: right;
}
.cancel-request {
  margin: 20px;
}
#returns-request-review {
  float: left;
}
.request-lists-box {
  float: left;
  margin: 0 6px 10px 0px;
}
.request-list-filter{
  min-height:100px;
}
.paginate_enabled_next,
.paginate_enabled_previous{
    padding: 0 5px 0 5px;
    cursor: pointer;
    color: #3F739A;
}
.paginate_disabled_previous,
.paginate_disabled_next {
    cursor: auto;
    padding: 0 5px 0 5px;
    color: silver;
}
.paginate_enabled_next:hover,
.paginate_enabled_previous:hover{
    color: #0E5483;
}
.paging_four_button {
    padding: 5px;
    float: right;
    clear: both;
}
.dataTables_info {
    padding: 10px;
    float: right;
    clear: both;
}
#delivery-details-cancel-box {
  font-size: 11px;
  margin: 0px;
}
.horizontal-li {
  display: inline;
  margin: 5px;
}
.no-max {
  max-height: none;
  max-width: none;
}

.group_header {
  background: white;
  border-top: 2px solid #40748b;
  border-right: 2px solid #40748b;
  border-left: 2px solid #40748b;
}
.group_edit {
  padding: 0 5px 0 0;
  text-align: right;
}
.group-add {
  padding: 10px;
  float: right;
}
.cage-icon {
  background: url(../images/colo/cage.png) no-repeat center 35%;
}
.cab-icon {
  background: url(../images/colo/cab.png) no-repeat center 35%;
}
.facility-details,
.carriage-details {
  width: 45%;
  float: left;
}
.booking-details {
  width: 45%;
  float: right;
}
.pencil-icon {
  background: url(../images/colo/pencil-icon.png) no-repeat center 35%;
  height: 20px;
  width: 20px;
}
.wheel-icon {
  background: url(../images/colo/big-wheel.gif) no-repeat center 35%;
  height: 100%;
  width: 100%;
}
.colo-search-results {
  padding: 0px 5px;
}

/* Site Width Wrapper Styling */
.content-wrapper {
/*  width is set dynamically in colo-controller.js and is responsive to the presence of the sidebar class */
}
#colo-landing-wrapper{
  width:100%;
}
#colo-landing-wrapper .content-wrapper {
margin: 25px 0 0 0;
padding: 0px;
}
#colo-landing-wrapper .content {
width: 1200px;
margin: 0 auto;
}
#colo-landing-wrapper .nboss-block {
margin: 0;
padding: 0;
}
.wrapper {
  background-repeat: repeat-x;
  background-image: url("../images/backgrounds/plain-background.png");
}
.wrapper .overview-header {
  position: fixed;
  top: 71px;
  width: 100%;
}
.wrapper .widget-styling {
/*  width: 1110px;
  position: relative;
  margin-top: 70px;
  left: 70px;*/
}
.wrapper .side-bar {
  top: 141px;
}

.spinner {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    background-image: url("../images/spinner.gif");
}

/*********************
*   Side Bar Menu    *
*********************/

.side-bar {
  position: fixed;
  height: 100%;
  width: 50px;
  z-index: 15;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -o-transition: -o-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
  max-width: 450px;
}
/************************
*  side bar list rules  *
************************/

.side-nav {
  list-style: none;
  text-align: left;
  text-decoration: none;
}
.side-nav > li > a {
  height: 100%;
  width: 100%;
}
/* Hide menu */

.side-nav ul,
.side-scroll li.disabled:hover > ul {
  display: none;
}
/*********************
*    Side bar menu   *
*********************/

.side-scroll {
  background: #4d4d4d;
  width: 50px;
  position: absolute;
  height: 100%;
}
.side-scroll > li {
  float: left;
  height: 50px;
  width: 100%;
  position: relative;
}
.side-scroll > li > a {
  background-repeat: no-repeat;
  background-position: 11px, 10px;
  height: 50px;
  width: 50px;
  float: left;
  font-size: 0;
  position: relative;
}
.side-nav-divide {
  border-top: solid #404040 1px;
  border-bottom: solid #272727 1px;
  width: 42px;
  height: 1px;
  margin: 0 4px;
  display: inherit;
  position: relative;
  bottom: auto;
  top: 100%;
  margin-top: -2px;
}
.side-scroll > li.disabled:hover > a > .side-nav-divide {
  display: block;
}
/***********************
*    Side bar header   *
***********************/

.side-nav.side > li {
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  background: #dbdbdb;
  left: 50px;
  width: 200px;
  height: 50px;
  position: relative;
}
.side-nav.side > li > a {
  font-size: 14px;
  font-family: OpenSansLight;
  color: #767676;
  padding-left: 30px;
  padding-top: 20px;
  display: inherit;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0.05, #5dc79e), color-stop(0.05, #dbdbdb));
  background-image: -webkit-linear-gradient(left, #5dc79e 5%, #dbdbdb 5%);
  background-image: -o-linear-gradient(left, #5dc79e 5%, #dbdbdb 5%);
  background-image: -webkit-gradient(linear, left top, right top, from(#5dc79e), to(#dbdbdb));
  background-image: linear-gradient(left, #5dc79e 5%, #dbdbdb 5%);
}
/* After arrow*/

.side-nav.side > li:after {
  border: solid #5dc79e;
  border-width: 1px 1px 0 0;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 99;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 20px;
  left: 4px;
  background: #5dc79e;
}
/* Side bar block */

.side-bar-block {
  webkit-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  background: transparent;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}
/* Ie fix */

.side-bar-colour {
  webkit-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  width: 200px;
  height: 1300px;
  position: inherit;
  top: -300px;
  z-index: -1;
  background: #dbdbdb;
  background: rgba(242, 242, 242, 0.7);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #f2f2f2 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#00ffffff', GradientType=0);
}
/**********************
*  Side bar sub title *
**********************/

.side-nav.extend {
  display: block;
}
.side-nav.extend > li {
  background: #333333;
  width: 100%;
  height: 40px;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  float: left;
}
.side-nav.extend > li > a {
  color: #dbdbdb;
  padding-top: 13px;
  display: inherit;
  padding-left: 30px;
  font-size: 14px;
  font-family: OpenSansLight;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/***********************
*     Hover states     *
***********************/

.side-bar:hover {
  /* Disabling this stops the side-bar popout */
  /*width: 250px;*/
}
.side-scroll > li:hover {
  background-color: #43be8e;
  /*background-color: #5dc79e;*/
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, 0.18) 35px, rgba(255, 255, 255, 0) 114px);
  background-image: -o-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, 0.18) 35px, rgba(255, 255, 255, 0) 114px);
  background-image: -webkit-linear-gradient(315deg, transparent, transparent 35px, rgba(255, 255, 255, 0.18) 35px, rgba(255, 255, 255, 0) 114px);
  background-image: -o-linear-gradient(315deg, transparent, transparent 35px, rgba(255, 255, 255, 0.18) 35px, rgba(255, 255, 255, 0) 114px);
  background-image: linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, 0.18) 35px, rgba(255, 255, 255, 0) 114px);
}
.side-scroll > li.selected,
.side-scroll > li.selected:hover {
  background-color: #3F739A;
  background-image: none;
}
.side-scroll > li.disabled:hover {
  background-color: #707070;
  background-image: none;
}
.side-scroll .disabled {
  background: #707070;
  background-image: none;
  cursor: default;
}
.side-scroll .disabled a {
  cursor: default;
}
.side-scroll li:hover > ul {
  display: block;
}
/* Remove divide line on hover*/

.side-scroll > li:hover > a > .side-nav-divide,
.side-scroll > li.selected > a > .side-nav-divide {
  display: none;
}
.side-nav.extend > li > a:hover {
  background: #6d6d6d;
  color: white;
  cursor: pointer;
}
.side-menu-light {
  background: #5a5a5a !important;
}
#colo-side-menu li:hover:after {
  content: attr(data-title);
  position: absolute;
  left: 65px;
  height: 30px;
  background: #3F739A;
  top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  color: white;
  font-family: OpenSansLight;
  white-space: nowrap;
}
#colo-side-menu li:hover:before {
  left: 35px;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3F739A;
  border-width: 15px;
}
#colo-side-menu li.disabled:hover:after,
#colo-side-menu li.disabled:hover:before {
  display:none;
}
/************************
*  Overview Header CSS  *
************************/

.overview-header {
  width: 100%;
  height: 70px;
  background: #4d4d4d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
}
.overview-header *,
.side-bar *,
#colo-landing-wrapper .content * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.overview-header h1 {
  background: #333333;
  height: 70px;
  padding: 3px 10px;
  color: white;
  margin: 0px;
  font-family: OpenSansLight;
  line-height: 24px;
  font-size: 22px;
  float: left;
  width: 320px;
}
.overview-header h1 .smaller {
  font-size: 0.75em;
}
.overview-header h2 {
  height: 70px;
  color: white;
  font-family: OpenSansLight;
  line-height: 24px;
  font-size: 18px;
  float: left;
  position: relative;
  top: 26px;
  left: 20px;
}
.overview-header .btn-help {
  float: right;
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
}
h2.nexcenter {
  text-indent: -9999px;
  font-size: 0;
  width: 275px;
  height: 30px;
  background-image: url("../images/colo/landing/nexcenter.png");
  background-repeat: no-repeat;
  position: relative;
  top: 8px;
  left: 20px;
}
.colocation-landing-title {
  font-size: 30px;
  position: relative;
  top: 3px;
}
.colo-drilldown{
  margin: 90px auto;
  padding: 75px 50px 0 50px;
  width:1200px;
  overflow: auto;
}
/* FIXME - This should be moved to glass/web/brands/ntt/css/icons.less
   and the ntt-icons.* to the right dir there too.  This may be there
   already for NLAF code.
 */

.icon-button:hover:before {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scaleX(1.2) scaleY(1.2);
  -ms-transform: scaleX(1.2) scaleY(1.2);
  -o-transform: scaleX(1.2) scaleY(1.2);
  transform: scaleX(1.2) scaleY(1.2);
}
.icon-button,
.status,
.warning,
.callback,
.success,
.icon,
.vapp-icon {
  font-family: 'portal-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  height: 30px;
  width: 30px;
  font-size: 0em;
  text-indent: 0;
  background: none;
  position: relative;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'portal-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* end FIXME */

/* FIXME - this may become generic - consider including with above */
/* Can be migrated to glass/base/web/icons.01.css and refactored ? */

.disabled .icon-menu-button:before {
  color: #969696;
}
.icon-menu-button:before {
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.icon-menu-button.side-dcs:before,
.icon-menu-button.side-info:before {
  content: "\e69c";
}
.icon-menu-button.side-calendar:before {
  content: "\e642";
}
.icon-menu-button.side-facilities:before {
  content: "\e693";
  font-size: 25px;
}
.icon-menu-button.side-delivery:before {
  content: "\e694";
  font-size: 28px;
}
.icon-menu-button.side-access-request:before {
  content: "\e691";
  font-size: 31px;
  left: 5px;
}
.icon-menu-button.side-make-a-request:before {
  content: "\e643";
}
.icon-menu-button.side-permissions:before {
  content: "\e679";
}
.icon-menu-button.side-access-cards:before {
  content: "\e686";
}
.icon-menu-button.side-product-orders:before {
  content: "\e68c";
}
.icon-menu-button.side-documents:before {
  content: "\e631";
}
.icon-menu-button.side-racks-and-cages:before {
  content: "\e69c";
}
.icon-menu-button.side-remote-hands:before {
  content: "\e69f";
  font-size: 31px;
}
.icon-menu-button.side-requests-links:before {
  content: "\e625";
}
.icon-menu-button.side-search-requests:before {
  content: "\e647";
}
.icon-menu-button.side-monitoring:before {
  content: "\e65f";
}
.icon-menu-button.side-induction-requests:before {
  content: "\e674";
}
.icon-menu-button.side-world:before {
  content: "\e629";
}
.icon-menu-button.btn-help:before {
  content: "\e60a";
}
.icon.icon-globe:before {
  content: "\e629";
}

.icon-menu-button.side-dcim-service:before {
  content: "\e657";
  font-size: 18px;
}

/* Date/Time - DC, user and UTC time zones */
.colo-dc-time {
    display: block;
    float: right;
    color: green;
}

.time_zone_selector {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.time_zone_selector select {
    margin: 0px;
    padding: 0px;
}

.own-style {
    background-color: #CAD1D5;
    border: solid 1px #CAD1D5;
    width: 100%;
    min-height: 30px;
}

/* Written to override the nboss block that is created when customer has no
    colo presence. Logic of the PERL sub routines needs to be looked at sometime in
    the future to prevent this hacky CSS */

.push-down {
    display: block;
    position: absolute;
    top: 200px;
    left: 120px;
    background: #fff;
    padding: 4px;
    outline: 1px solid #305768;
}
/*******************************************************************/
/* DC Selector select2 re-style Y16226 */
/*******************************************************************/
.available-dcs {
    max-width: 285px;
    height: 24px;
    text-overflow: ellipsis;
    font-size: 14px;
    background-color: #4D4D4D;
    color: #fff;
    border: none;
    width: 100%;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.available-dcs .select2-choice .select2-arrow {
  background-color: transparent;
}
.dcs-menu-expanded  .select2-dropdown-open .select2-choice {
    background: #4D4D4D;
    background-image:none;
    color: #FFF;
    height: 35px;
    padding-top: 6px;
}
.available-dcs.available-dcs .select2-choice.select2-choice,
.available-dcs.select2-container-active .select2-choice,
.available-dcs.select2-container-active .select2-choices,
.dcs-menu-expanded .select2-container-active .select2-choice,
.dcs-menu-expanded .select2-container-active .select2-choices {
    border: none;
    outline: none;
}
.dcs-menu-search .select2-choice,
.dcs-menu-search input {
    background-color: #4D4D4D;
    color: #fff;
}
.dcs-menu-expanded .action-menu-search {
    background-color: #4D4D4D;
}
.dcs-menu-expanded-drop {
    font-size: 14px;
    white-space: nowrap;
}
.dcs-menu-expanded-drop,
.dcs-menu-expanded-drop > ul,
.dcs-menu-expanded-drop > div,
.dcs-menu-expanded-drop .select2-results .select2-no-results {
    background: #4D4D4D;
    color: #fff;
/*    font-family: $font-light; */
}

.dcs-menu-expanded-drop,
.dcs-menu-expanded-drop > ul {
    border-right: 1px solid #4D4D4D;
}

.dcs-menu-expanded-drop .select2-results {
    max-height: 300px;
    padding: 4px 0;
    margin: 0;
}
.dcs-menu-expanded-drop .select2-search,
.dcs-menu-expanded-drop .select2-search input {
    padding-bottom: 2px;
    background: #4D4D4D;
    color: #fff;
}
.dcs-menu-expanded-drop.select2-drop-active {
    border: none;
    border-top: none;
    min-width: 400px;
}
.dcs-menu-expanded-drop .select2-results .select2-result-label {
    padding: 8px 10px;
}
.dcs-menu-expanded-drop .select2-results .select2-result-selectable .select2-result-label:hover {
    background-color: #555;
}
.dcs-menu-expanded-drop .select2-results .select2-highlighted {
    background-color: #4D4D4D;
    color: #fff;
}
.dcs-menu-expanded-drop .select2-choice .select2-arrow {
    padding-top: 4px;
}
.dcs-menu-expanded-drop .select2-results li.select2-result-with-children > .select2-result-label {
    color: #ccc;
    font-size: 12px;
    padding-bottom: 0;
    line-height: 1;
    cursor: default;
}
.might-overflow-half-column {
    display:inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    float:left;
    max-width:120px;
}

.might-overflow-column {
    display:inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    float:left;
    max-width:240px;
}

.wizard-check-all.wizard-check-all {
  font-size: 13px;
  color: black;
}

.wizard-check-all input {
  margin-right: 5px;
}

/***************
* MARKDOWN
**************/

.markdown h1 {
    font-size: 24px;
}

.markdown h2 {
    float: none;
    font-size: 20px;
}

.markdown h3 {
    font-size: 16px;
}

.markdown h4 {
    font-size: 14px;
}

.markdown ul, .markdown ol {
    padding-left: 20px;
    margin: 13px 0;
    /* list-style: decimal; */
}

.markdown ol {
    list-style: decimal;
}

.markdown ul {
    list-style: initial;
}

.markdown p {
    margin: 13px 0;
}

